/* General Styles */
body {
    margin:0;
    font-family: "Funnel Sans", serif;
    background-color: #1f222b;
    color: whitesmoke;

}

/* Nav Styles */
nav {
    background-color: #1f222b;
    margin-top: "10px";
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

nav p, nav a {
    color: whitesmoke;
    text-decoration: none;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    display: flex;
    background-color: #1f222b;
    border: 1px solid #8f9294;
    justify-content: center;
    margin-top: auto;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
    margin-right: 7px;
    margin-left: 7px;
}

footer a:hover {
    background-color: none;
}

/* Splash Section */
.splash {
    background-color: #1f222b;
    text-align: center;
}

.splash h1 {
    color:whitesmoke;
    font-family: "Funnel Sans", serif;
}

.splash img {
    border: 2px solid whitesmoke;
    border-radius: 100%;
}

.splash p {
    color: whitesmoke;
}

/* Horizontal Rules */
hr {
    border-radius: 10%;
    border: 1px dotted 	#8f9294;
}

/* Sections */
section {
    background-color: #1f222b;
    padding-left: 20px;
    padding-right: 20px;
}

/* Section Headings */
section h2 {
    color:whitesmoke;
    font-family: "Funnel Sans", serif;
}

/* Paragraph Styles */
section p {
    text-decoration: underline;
    color: whitesmoke;
}

/* link styles */
section a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1rem;
}
section a:hover {
    text-decoration: underline;
}

/* List Styles */
ul {
    color:whitesmoke;
    list-style-type: square;
    text-align: left;
}

dl {
    display: grid;
}
dl dt{
    color: white;
}
dl dd{
    color: white;
}

/* Project Section */
.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

.card {
    border: 1px solid #a4bcc4;
    background-color: #1f222b;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    text-align: center;
    border-radius: 20px;
}

.card img {
    width: 200px;
    height: 200px;
}

.card h3 {
    color: whitesmoke;
}

/* Contact Page Styles */
.one-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
   
}

form input, form textarea {
    height: 50px;
    width: 400px;
    max-width: 400px;
    background-color: transparent;
    outline: none;
    border: whitesmoke 2px solid;
    padding-left: 10px;
    color: whitesmoke;
}
form input::placeholder{
    color: whitesmoke;
}

form input:focus, form textarea:focus {
    border: 3px solid #328cc1;
    outline: none;
}

form button {
    padding: 5px;
    color: #016FB9;
    border: 2px solid #016FB9;
    background-color: transparent;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 75px;
    width: 200px;
    font-size: 1.5rem;
}

form button:hover {
    color: white;
    background-color: #016FB9;
}
